:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

body {
  background-color: #fff;
}

.workout {
  background-color: var(--color-dark--2);
}

/* MAP */
#map {
  height: 80vh;
  background-color: #aaa;
}

.container__Search {
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.hidden {
  display: none;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.place .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}

.navbar-brand {
  color: white;
  font-weight: 900;
}

.nav-link {
  font-weight: 500;
  color: white;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.538);
}

.hidden {
  display: none;
}
